name: Verify group review

on:
  pull_request:
    types:
      - opened
  issue_comment:
    types:
      - created
jobs:
  verify_issue_comment:
    runs-on: ubuntu-latest
    container:
      image: registry.access.redhat.com/ubi9-init
    steps:
      - run: echo hello!
