name: Verify group review

on:
  push: 
jobs:
  verify_issue_comment:
    runs-on: ubuntu-latest
    container:
      image: registry.access.redhat.com/ubi9-init
    steps:
      - run: dnf install -y procps-ng
      - run: ps -e
      - run: echo hello!
